<style>

    .card-image-{{ post.headerImage | slice(-0, -4) }} {
        background-image: url('{{ asset('assets/images/posts/') }}{{ post.headerImage }}');
    }

</style>


<div class="col l12">
    <div class="card horizontal">
        <div class="card-image card-image-{{ post.headerImage | slice(-0, -4) }}"></div>
        <div class="card-stacked">
            <div class="card-content">
                <p>{{ post.shortDescription }}</p>
            </div>
            <div class="card-action right-align">
                <a href="{{ path('blogPost', {'slug': post.slug}) }}">
                    <button class="btn waves-effect waves-light orange accent-2" type="submit" name="action">Read Now
                        <i class="material-icons right">send</i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
