<style>

    .card-image-{{ post.slug }} {
        background-image: url('{{ asset('uploads/posts/') }}{{ post.headerImage }}');
    }

</style>


<div class="col l12">
    <div class="card horizontal">
        <div class="card-image card-image-{{ post.slug }}"></div>
        <div class="card-stacked">
            <div class="card-content">
                <h5>{{ post.title }}</h5>
                <p>{{ post.shortDescription }}</p>
            </div>
            <div class="card-action">
                <a href="{{ path('post_read', { 'id' : post.id, 'slug': post.slug }) }}">
                    <button class="btn waves-effect waves-light orange accent-2" type="submit" name="action">Read Now
                        <i class="material-icons right">send</i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
