<style>

    .card-image-{{ post.headerImage | slice(-0, -4) }} {
        background-image: url('{{ asset('uploads/posts') }}{{ post.headerImage }}');
    }

</style>

<div class="row">
    <div class="col l12">
        <div class="card">
            <div class="card-image card-image-large card-image-{{ post.headerImage | slice(-0, -4) }}">
                <span class="card-title">
                    <h1>{{ post.title }}</h1>
                    <h3>{{ post.subtitle }}</h3>
                </span>
            </div>
            <div class="card-content">
                <p>{{ post.shortDescription }}</p>
            </div>
            <div class="card-action left-align">

                <a href="{{ path('blogIndex') }}">
                    <button class="btn waves-effect waves-light orange accent-2">View More
                        <i class="material-icons right">list</i>
                    </button>
                </a>

                <a href="{{ path('blogPost', {'slug': post.slug}) }}">
                    <button class="btn waves-effect waves-light orange accent-2">Read Now
                        <i class="material-icons right">send</i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>