{% extends 'base.html.twig' %}

{% block title %}{{ title }} | Ari Molzer{% endblock %}
{% block body %}

    <div class="section">
        <div class="row">
            <div class="card">
                <div class="card-content container">

                    <h3 class="center-align">{{ title }}</h3>

                    <br />

                    <div class="row">
                        <div class="col l12">
                            {{ form_start(form) }}

                                <div class="row">
                                    <div class="col s12 m6">
                                        <label>Title</label>
                                        {{ form_widget(form.title) }}
                                    </div>
                                    <div class="col s12 m6">
                                        <label>Subtitle</label>
                                        {{ form_widget(form.subtitle) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <label>Slug</label>
                                        {{ form_widget(form.slug) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <label>Short Description (Used for search engines and the post list view)</label>
                                        {{ form_widget(form.shortDescription) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <label>Article body</label>
                                        {{ form_widget(form.body) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <div class="file-field input-field">
                                            <a class="btn">
                                                <span>File</span>
                                                <input type="file">
                                            </a>
                                            <div class="file-path-wrapper">
                                                {{ form_widget(form.headerImage) }}
                                                <input class="file-path validate" type="text" placeholder="Upload a hero image ( < 500KB & 1280px x 300px recommended - Max 2MB)">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12">

                                        <div class="row right-align">
                                            {{ form_widget(form.submit) }}
                                        </div>
                                    </div>
                                </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}