{% extends 'base.html.twig' %}

{% block title %}{{ post.title }} | {{ site_title }}{% endblock %}

{% block seo %}
    <meta name="description" content="{{ post.shortDescription }}">
{% endblock %}

{% block body %}

    {% if not user %}
        {{ render(controller(
        'AppBundle:Login:loginModal'
        )) }}
    {% endif %}

    <style>
        .card-image-large {
            background: url({{ asset('uploads/posts/') }}{{ post.headerImage }});
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>

    <input type="hidden" id="postId" name="postId" value="{{ post.id }}" />

    <div class="section post">
        <div class="row">
            <div class="col l12">
                <article class="card">
                    <div class="card-image card-image-large">

                        <span class="card-edit no-print">
                            {% if user %}
                                <a class="btn-floating btn-large waves-effect waves-light orange" href="{{ path('post_update', {'id': post.id }) }}">
                                    <i class="material-icons">edit</i>
                                </a>
                            {% endif %}
                        </span>

                        <span class="card-title">
                            <h1>{{ post.title }}</h1>
                            <h3>{{ post.subtitle }}</h3>
                        </span>

                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col m8 offset-m2">

                                <div class="col m6">
                                    <div class="left-align">
                                        <div class="chip">
                                            <img src="{{ asset('assets/images/users/1.jpg') }}" class="no-print" alt="Author - {{ post.author.getFormattedFullName }}">
                                            {{ post.author.getFormattedFullName }}
                                        </div>
                                        <div class="chip">
                                            {{ dateCreated }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col m6 no-print">
                                    <div class="grey-text text-darken-2 right-align">

                                        <div class="chip">
                                            <span id="post_like_count">{{ likesCount }}</span>
                                        </div>

                                        <a href="javascript:void(0)" id="post_like" onclick="{% if user %}PostLikeModule.togglePostLike({{ post.id }}){% else %}$('#sign-in-modal').openModal();{% endif %}" {% if user %}class="{% if userLike and userLike.liked == true %}red-text{% endif %}{% endif %}">
                                            <i class="material-icons">favorite</i>
                                        </a>

                                        <a href="javascript:void(0)" id="post_bookmark" onclick="{% if user %}PostBookmarkModule.togglePostBookmark({{ post.id }}){% else %}$('#sign-in-modal').openModal();{% endif %}">
                                            <i class="material-icons" id="post_bookmark_label">{% if userBookmark and userBookmark.bookmarked == true %}bookmark{% else %}bookmark_border{% endif %}</i>
                                        </a>

                                        <a class="no-decorate dropdown-button" href="#" data-activates="share_dd">
                                            <i class="material-icons">share</i>
                                        </a>

                                        <ul id="share_dd" class='dropdown-content'>
                                            <li><a href="#!"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
                                            <li><a href="#!"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                                            <li><a href="#!"><i class="fa fa-google-plus" aria-hidden="true"></i> Google+</a></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <p class="card-content-body">{{ post.body | nl2br }}</p>
                        </div>
                    </div>

                    <div class="card-action">
                    </div>
                </article>
            </div>
        </div>
    </div>

{% endblock %}
