{% if user is not defined %}
    {% set user = null %}
{% endif %}

{#<nav class="top-nav">#}
    {#<div class="container">#}
        {#<div class="nav-wrapper"><a class="page-title">MolzerTech</a></div>#}
    {#</div>#}
{#</nav>#}

{#<div class="container"><a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a></div>#}

<ul id="slide-out" class="side-nav fixed no-print">

    {% if user %}
        <li class="side-nav-header">
            <div class="userView">
                <div class="background">
                    <img src="{{ asset('uploads/theme/grow.jpg') }}">
                </div>
                <a href="#!user"><img class="circle" src="{{ asset('assets/images/users/1.jpg') }}"></a>
                <a href="#!name"><span class="white-text name">{{ user.firstname }} {{ user.surname }}</span></a>
                <a href="#!email"><span class="white-text email">{{ user.email }}</span></a>
            </div>
        </li>
    {% else %}
        <li class="side-nav-header">
            <div class="userView userViewNoSession">
                <div class="background">
                    <img src="{{ asset('uploads/theme/grow.jpg') }}">
                </div>
                <a class="btn waves-effect waves-light orange accent-2" href="{{ url('fos_user_security_login') }}">Sign In</a>
            </div>
        </li>
    {% endif %}

    <li><a href="{{ url('index') }}"><i class="material-icons">home</i>Home</a></li>
    <li><a href="{{ url('post_index') }}"><i class="material-icons">insert_drive_file</i>Posts</a></li>

    {% if user %}
        <li><a href="{{ url('post_create') }}"><i class="material-icons">create</i>New Post</a></li>
    {% endif %}

    <li><div class="divider"></div></li>

    {% if user %}
        <li><a href="{{ url('fos_user_profile_show') }}"><i class="material-icons">account_box</i>My Profile</a></li>
        <li><a href="{{ url('adminIndex') }}"><i class="material-icons">settings</i>Settings</a></li>
    {% endif %}

    <li><a href="#!"><i class="material-icons">info</i>Information</a></li>

    {% if user %}
        <li><div class="divider"></div></li>
        <li><a href="{{ url('fos_user_security_logout') }}">Sign Out</a></li>
    {% endif %}
</ul>